section{
   
    display:flex;
    flex-direction: column;
    gap:10px;
}

.btn{
    background-color: aquamarine;
    border-color:black;
    font-size: 20px;
    cursor: pointer;
    width: 120px;
    border-radius: 10px;
}

.mlz{
    cursor:pointer;
}

#rkpln{
    position: absolute;
    top:0;
    left:0;
    opacity: 0.4;
    z-index: -10;
    width: 100vw;
}
h1{
    height: 80px;
    display:flex;
    align-items: center;
    font-family: 'Trebuchet MS', sans-serif;
    text-shadow:3px 3px 3px rgb(109, 106, 106);
}

